@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-grey-color);
  background-image: url("../assets/triangle-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--white-color);
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 1440px) {
    max-width: 1400px;
  }
}
