.footerContainer {
  width: 100%;
  padding: 15px 0;
  background-color: var(--dark-grey-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--white-color);

  .footerContent {
    .footerNavbar {
      display: flex;
      justify-content: center;
      list-style: none;

      li {
        height: 25px;
        position: relative;
        transition: color 0.5s, opacity 0.5s ease;

        @media (min-width: 1024px) {
          opacity: 0.7;
        }

        a {
          text-decoration: none;
          color: inherit;
          padding: 5px 15px;

          &::after {
            content: "";
            position: absolute;
            margin: 0 auto;
            width: 100%;
            height: 2px;
            top: -5px;
            right: 0;
            background-color: var(--white-color);
            transition: transform 0.5s ease;
            transform: scale(0, 1);
          }

          @media (min-width: 1024px) {
            &:hover::after {
              transform: scale(1, 1);
            }
          }
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    hr {
      width: 65%;
      margin: 15px auto;

      @media (min-width: 1024px) {
        opacity: 0.7;
      }
    }

    .footerLinks {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;

      a {
        display: flex;
        align-items: center;
        color: inherit;
      }

      img {
        height: 60px;
        width: 60px;
        border-radius: 5px;
      }

      .socials {
        list-style: none;
        display: flex;
        flex-direction: row;

        li {
          display: flex;
          align-items: center;
        }

        a {
          padding: 5px;
          text-decoration: none;
          transition: opacity 0.5s ease;

          @media (min-width: 1024px) {
            opacity: 0.7;
          }

          &:hover {
            opacity: 1;
          }

          svg {
            width: 40px;
            height: 40px;
            margin-right: 5px;
          }
        }
      }
    }

    .copyright {
      font-size: 14px;
      margin: 15px 0;
    }
  }
}
