.aboutMeContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  @media (min-width: 768px) {
    align-items: center;
  }

  h1 {
    margin: 10px 0;
    font-size: 36px;

    @media (min-width: 420px) {
      font-size: 42px;
    }

    @media (min-width: 768px) {
      font-size: 50px;
    }

    @media (min-width: 1024px) {
      font-size: 58px;
    }

    @media (min-width: 1440px) {
      font-size: 64px;
    }
  }

  p {
    margin: 10px 0;
    text-align: start;
    line-height: 1.25;
    text-wrap: balance;

    @media (min-width: 420px) {
      font-size: 20px;
    }

    @media (min-width: 768px) {
      text-align: center;
      font-size: 22px;
      max-width: 70%;
    }

    @media (min-width: 1024px) {
      font-size: 28px;
    }

    @media (min-width: 1440px) {
      font-size: 32px;
    }
  }

  .contactButton {
    position: relative;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: var(--dark-grey-color);
    border: 1px solid var(--white-color);
    border-radius: 10px;
    text-decoration: none;
    color: inherit;

    @media (min-width: 1024px) {
      &::after {
        content: "";
        position: absolute;
        width: 80%;
        height: 2px;
        top: 10px;
        left: 10%;
        background-color: var(--white-color);
        transition: transform 0.5s ease;
        transform: scale(0, 1);
      }

      &:hover::after {
        transform: scale(1, 1);
      }
    }
  }
}
