.videoContainer {
  padding-top: 65px;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .landingPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
